/* semua */
body {
  background-color: #020510;
  color: white;
  min-height: 100vh;
}

/*header*/
header {
  background: rgba(17, 25, 40, 0.4); /* 0.4 = 40% opacity */
  backdrop-filter: blur(10px);
}

/* logo */
.logo-img {
  height: 40px;
  width: auto;
}

/*responsif */
@media (min-width: 768px) {
  .logo-img {
    height: 50px;
  }
}

/* button login/register*/
.btn-teal {
  background-color: rgb(20, 184, 166);
  border-color: rgb(20, 184, 166);
  color: white;
}

.btn-teal:hover {
  background-color: rgb(13, 148, 136);
  border-color: rgb(13, 148, 136);
  color: white;
}

.btn-outline-teal {
  border-color: rgb(20, 184, 166);
  color: rgb(20, 184, 166);
  background-color: transparent;
}

.btn-outline-teal:hover {
  background-color: rgb(20, 184, 166);
  border-color: rgb(20, 184, 166);
  color: white;
}

/* hero section */
.hero-section {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-content {
  position: relative;
  z-index: 10;
  padding: 6rem 1.5rem;
}

@media (min-width: 768px) {
  .hero-content {
    padding: 10rem 1.5rem;
  }
}

/* fitur section */
.fitur {
    background: rgba(13, 148, 136, 0.05);
    border: 1px solid rgba(20, 184, 166, 0.15);
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.fitur:hover {
    background: rgba(20, 184, 166, 0.1);
    border-color: rgba(13, 148, 136, 0.4);
    box-shadow: 0 10px 30px rgba(20, 184, 166, 0.25)!important;
}

.fitur h3 {
    color: white;
    margin-bottom: 15px;
}

.fitur p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
}


/* film section */
.film-card {
  background-color: #1f2937;
  border-radius: 0.75rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.film-card:hover {
  transform: scale(1.05);
}

.film-card img {
  width: 100%;
  height: 280px; /* ubah tinggi seperti di anime-poster */
  object-fit: cover; /* biar gambar tetap proporsional */
  border-radius: 8px; /* biar sudutnya bulat */
  display: block;
}

/* ===========================
   Star Rating
   =========================== */
.star-rating {
  color: #fbbf24;
}

/* ===========================
   Testimonial Cards
   =========================== */
.testimonial-card {
  background-color: #1f2937;
  border-radius: 0.75rem;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.05);
}

/* footer */
.footer {
  background: #0f172a;
  color: white;
  margin-top: 3rem;
}

.footer-nav {
  color: #9ca3af;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-nav:hover {
  color: #e1e5ec;
}

.medsos {
  color: #9ca3af;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.medsos:hover {
  color: #e1e5ec;
}